<a href="https://colab.research.google.com/github/srujany/python-basics/blob/main/advance%20data%20stucture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string.

In [2]:


bxt = "srujen"
print(bxt[5::-1])

nejurs

2. Write a code to count the number of vowels in a string.

In [4]:


s = "humankind"
count = 0
for char in s:
  if char in "AaEeliOoUu":
    count = count + 1

print(count)

3

3. Write a code to check if a given string is a palindrome or not

In [8]:

palin = str(input("string:"))

reverse = palin[len(palin)::-1]
if palin == reverse:
  print("its palindrome")
else:

  print("not a palindrome")

string:mallam
its palindrome



4. Write a code to check if two given strings are anagrams of each other.

In [9]:

string1 = "night"
string2 = "thing"
sorted_string1 = sorted(string1)
sorted_string2 = sorted(string2)
if sorted_string1 == sorted_string2:
  print("this are anagrams")
else:
  print("not")

this are anagrams

5. Write a code to find all occurrences of a given substring within another string.

In [14]:
string1 = "babbu"
subs = []
for i in range(0,len(string1)):
  for j in range(i+1 ,len(string1) + 1):
      subs.append(string1[i:j])

print(subs)

['b', 'ba', 'bab', 'babb', 'babbu', 'a', 'ab', 'abb', 'abbu', 'b', 'bb', 'bbu', 'b', 'bu', 'u']

7.Write a code to determine if a string has all unique characters.

In [18]:
def check(a):
    a = sorted(a)
    for i in range(len(a) - 1):
        if a[i] == a[i+1]:
            return False
    return True

str1 = input().lower()
s = check(str1)
if s:
  print("yes")
else:
  print("no")

asd
yes

8.Write a code to convert a given string to uppercase or lowercase.

In [19]:
str1 = str(input("string: "))
str2 = str1.lower()
print(str2)

string: PWSKILL
pwskill

9.Write a code to count the number of words in a string.

In [20]:
str1 = input("str: ")
str2 = len(str1)
print(str2)

str: srujan
6

10.Write a code to concatenate two strings without using the + operator.

In [22]:
str1 = input("string1:")

str2 = input("string2:")

print(f"{str1}{str2}")

string1:pw
string2:skill
pwskill

11.Write a code to remove all occurrences of a specific element from a list.

In [24]:
lis1 =[1, 1, 2, 2, 3, 3]
remove_element = 1
while remove_element in lis1:
  lis1.remove(remove_element)
print(lis1)

[2, 2, 3, 3]

12.Implement a code to find the second largest number in a given list of integers.

In [25]:
lis1 =[10, 20, 4, 45, 99]
lis1 .sort()

print(lis1[-2])

45

13.Create a code to count the occurrences of each element in a list and return a dictionary
with elements as keys and their counts as values.

In [33]:
def count_elements(Ist):
  count_dict = {}
  for element in Ist:
       if element in count_dict:
         count_dict[element] += 1
       else:
         count_dict[element] = 1
  return count_dict

fruits = [1, 2, 2, 1, 1]
result = count_elements(fruits)
print(result)

{1: 3, 2: 2}

14,Write a code to reverse a list in-place without using any built-in reverse functions.

In [34]:
lis1 = list(range(6))

lis2 = lis1[6::-1]
print(lis2)

[5, 4, 3, 2, 1, 0]

15. Implement a code to find and remove duplicates from a list while preserving the original
order of elements.

In [35]:
lis1 = [5, 4, 3, 3, 2, 1, 2, 1, 0]
set_change = set(lis1)

lis3 = list(set_change)
print(lis3)

[0, 1, 2, 3, 4, 5]

16.Create a code to check if a given list is sorted (either in ascending or descending order)
or not.

Create a code to check if a given list is sorted (either in ascending or descending order) or
not.

In [38]:
lis1 = [5, 4, 3, 3, 2, 2, 1, 0]

I1 = sorted(lis1, reverse=True)
I2 = sorted(lis1)

if lis1 == I1 or lis1 == I2 :
  print("it is sorted")

else:
  print("it is not sorted")

it is sorted

17. Write a code to merge two sorted lists into a single sorted list.

print(sorted(lis1 + lis2))

In [39]:
lis1 = [5, 4, 3, 3, 2, 2, 1, 0]
lis2 = [1, 2, 3, 4, 5]
print(sorted(lis1 + lis2))

[0, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5]

18. Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(lis1 ,lis2):
   print(list(set(lis1).intersection(set(lis2))))

lis1 =[0, 1, 2, 3, 4, 5, 6, 3, 2]
lis2 = [0, 1, 2, 3, 4, 5, 6, 7, 2, 3, 4, 2]
intersection(lis1=lis1, lis2=lis2)

19.Create a code to find the union of two lists without duplicates.

In [ ]:
def union(lis1,lis2):

    return list(set(lis1).union(set(lis2)))
lis1 =[0, 1, 2, 3, 4, 5, 6, 3, 2]
lis2 = [0, 1, 2, 3, 4, 5, 6, 7, 2, 3, 4, 2]
print(union(lis1 ,lis2))

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [56]:
import random

lis1 =[0, 1, 2, 3, 4, 5, 6, 3, 2]

lis2 =[]

for i in lis1:
    lis2.append(lis1[random.randint(0,len(lis1)-1)])

print(lis2)

[1, 5, 4, 5, 2, 4, 4, 4, 5]

21.Write a code that takes two tupies as input and returns a new tuple containing elements
that are common to both input tuples.

In [59]:
def inter(tupl, tupl1):

    return tuple(set(tupl).intersection(set(tupl1)))
tupl = tuple(input("tuple 1:"))
tupl1 = tuple(input("tuple 2:"))

print(inter(tupl, tupl1))

tuple 1:12345
tuple 2:12345678
('3', '4', '5', '2', '1')

22. Create a code that prompts the user to enter two sets of integers separated by commas.
Then, print the intersection of these two sets.

In [ ]:
def inter(set1, set2):

    return set1.intersection(set2)
set3 = set(input("set 1:"))
set2 = set(input("set 2:"))
print(inter(set1=set3, set2=set2))

23. Write a code to concatenate two tuples. The function should take two tuples as input and
return a new tuple containing elements from both input tuples.

In [68]:
tupl1 = tuple(input("tuple 1;"))
tupl2 = tuple(input("tuple 2:"))

tupl3 = tupl1 + tupl2
print(tupl3)

tuple 1;2323445
tuple 2:325435356
('2', '3', '2', '3', '4', '4', '5', '3', '2', '5', '4', '3', '5', '3', '5', '6')

24.Develop a code that prompts the user to input two sets of strings. Then, print the
elements that are present in the first set but not in the second set.

In [ ]:
def diff(set1, set2):

    return set.difference(set2)
set = set(input("set 1:"))
set2 = set(input("set 2:"))

print(diff(set1, set2))

25.Create a code that takes a tuple and two integers as input. The function should return a
new tuple containing elements from the original tuple within the specified range of indices.

In [72]:
tupl1 = tuple(input("tuple:"))
start = int(input("start index:"))
end = int(input("end index; "))

final = tupl1[start:end]
print(final)

tuple:1234567
start index:3
end index; 5
('4', '5')

26. Write a code that prompts the user to input two sets of characters. Then, print the union
of these two sets.

)

In [ ]:
set1 = set(input("set 1:"))
set2 = set(input("set 2:"))
uni = set1.union(set2)

print(uni)

27.Develop a code that takes a tuple of integers as input. The function should return the
maximum and minimum values from the tuple using tuple unpacking.

In [74]:
tupl1 = tuple(input("tuple 1;"))
tupl2 = sorted(tupl1)

(mini, maxi) = (tupl2[0], tupl2[-1])
print("minimum:", mini)
print("“maximum:", maxi)

tuple 1;123545
minimum: 1
“maximum: 5

28. Create a code that defines two sets of integers. Then, print the union, intersection, and
difference of these two sets.

In [ ]:
set1 = set(input("set 1:"))
set2 = set(input("set 2:"))

uni = set1.union(set2)

inter = set1.intersection(set2)
diff = set1.difference(set2)
print("union:", uni)
print("intersection:", inter)
print("difference:", diff)


29.Write a code that takes a tuple and an element as input. The function should return the
count of occurrences of the given element in the tuple.

In [82]:
def co(tupl1, ele):

  k = 0

  for i in tupl1:

      if (i == ele):
          k += 1

  print(k)
tupl1 = tuple(input("tuple 1;"))
ele = (input("element: "))

co(tupl1, ele)

tuple 1;2345
element: 3
1


30.Develop a code that prompts the user to input two sets of strings. Then, print the
symmetric difference of these two sets.

In [ ]:
set1 = set(str(input("set 1:")))

set2 = set(str(input("set 2:")))

uni = set1.symmetric_difference(set2)
print("symmetric difference is", uni)

31. Write a code that takes a list of words as input and returns a dictionary where the keys
are unique words and the values are the frequencies of those words in the input list.

In [85]:
def dic(lis1):
   dic1 = {}
   for i in lis1:
      k = len(i)
      dic1[i] =k
   print(dic1)

names = ["Eve", "Alice", "Bob"]
dic(names)

{'Eve': 3, 'Alice': 5, 'Bob': 3}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary.
If there are common keys, the values should be added together.

In [91]:
def addo(dic1, dic2):
  for i in dic2:
     dic1.update(dic2)

  print(dic1)

dic1 = {
"book1":'hello world!',
"book2":'happy new year'
}

dic2 = {
"book3":'programmer',
"pook1":'python data'

}
addo(dic1 ,dic2)

{'book1': 'hello world!', 'book2': 'happy new year', 'book3': 'programmer', 'pook1': 'python data'}

33.Write a code to access a value in a nested dictionary. The function should take the
dictionary and a list of keys as input, and return the corresponding value. If any of the keys
do not exist in the dictionary, the function should return None.

In [ ]:
def access_nested_dict(nested_dict, keys):

Args:
nested_dict (dict): The nested dictionary.
keys (list): A list of keys to access the value.

value = nested_dict
for key in keys:
if isinstance(value, dict) and key in value:
value = value[key]
else:
return None
return value

nested_dict = {'a': {'b': {'c': 1}}}

keys = ['a', 'b', 'c']

result = access_nested_dict(nested_dict, keys)
print(result) # Output: 1
nested_dict = {'a’: 1 {'b': {'c': 1}}}

keys = ['a', 'b', 'd']

result = access_nested_dict(nested_dict, keys)
print(result) # Output: None

34.Write a code that takes a dictionary as input and returns a sorted version of it based on
the values. You can choose whether to sort in ascending or descending order.

In [ ]:

input_dict = {'c’: 3, 'a': 1, 'b': 2}
sorted_dict = dict(sorted(input_dict.items()))
print(sorted_dict)